body{
  margin: auto;
  background-color: lightblue;
  margin-bottom: 100px;
}

header{
  margin-left: auto;
  border-bottom: 15px solid white;
  background-color: white;
}

#navigasjonsbar ul a{
  text-decoration: none;
  padding: 20px;
  background-color: white;
  color: black;
}

nav{
  margin: 0px;
  padding: 10px;
  background-color: white;
  font-size: 22px;
}

#navigasjonsbar ul{
  text-align: center;
}

#navigasjonsbar a:hover{
  border: 3px solid black;
}
main h2:hover{
  border: 3px solid black;
}

.VinterTurer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main{
 margin-left: 100px;
 margin-bottom: 50px;
}

footer{
  margin-left: 90px;
  border-top: 1px solid black;
  margin-right: 60px;
}

main h2{
  text-align: center;
  width: 200px;
  margin: auto;
}
img{
  border: 5px solid white;
}
a { color:red }

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

.fjell{
  margin-left: 532px;
}

h5{
  font-size: 22px;
  border: 3px solid black;
  width: 135px;
  margin: auto;
}
